{% extends "initial/base.html" %}

{% load static %}

{% block content %}
      <div class="inicio">
        <h1>
          Onde a realização<br />
          do seu <strong>SONHO</strong><br />
          começa!
        </h1>
        <a class="grow" href="#contatos"><img src="{% static 'img/vector1.svg' %}" /></a>
      </div>
    </div>

    <div class="quem-somos" id="sobre">
      <div class="container-fluid">
        <div class="row">
          <div class="quem col-sm-12 col-md-7 col-lg-7">
          <h2>QUEM SOMOS</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          accumsan augue at rhoncus fringilla. jjjjjjjjjjjjjj viverra tempus
          nisl sit amet consectetur. Curabitur facilisis purus vitae quam
          hendrerit, quis tempus mi . Mauris dictum hendrerit lectus in
          vehicula. Suspendisse et dolor enim. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Praesent accumsan augue at rhoncus
          fringilla. Maecenas viverra tempus nisl sit amet consectetur.
          Curabitur facilisis purus vitae quam hendrerit, quis tempus mi
          bibendum. Mauris dictum hendrerit lectus in vehicula. Suspendisse et
          dolor enim.
        </p>
        </div>
        <div class="carrossel col-sm-12 col-md-5 col-lg-5">
        <div class="carr1 ">
        <div>
          <img src="{% static 'img/valores.svg' %}" />
          <h3>VALORES</h3>
          <h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan augue at rhoncus fringilla.  jhygy viverra tempus nisl sit.
          </h4>
        </div>

        <div>
          <img src="{% static 'img/flecha1.svg' %}" />
          <h3>MISSÃO</h3>
          <h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan augue at rhoncus fringilla.  jhygy viverra tempus nisl sit.
          </h4>
        </div>
        <div>
          <img src="{% static 'img/visao.svg' %}" />
          <h3>VISÃO</h3>
          <h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan augue at rhoncus fringilla.  jhygy viverra tempus nisl sit.
          </h4>
        </div>
      </div>
      </div>
      </div>
      </div>
      <img class="setas-decora" src="{% static 'img/setas-decora.svg' %}">
    </div>
    

    <div class="servicos" id="servicos">
      <div class="container">
        <h2>SERVIÇOS</h2>
        
        <div class="row">
          
          <div class="col-sm">
            <img src="{% static 'img/serv1.svg' %}" />
            <h3>Agenciamento<br> de viagens</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              accumsan augue at rhoncus fringilla. jhygyviverra tempus nisl sit.
            </p>
          </div>
          <div class="col-sm">
            <img src="{% static 'img/serv2.svg' %}" />
            <h3>Consultoria<br> Turística</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              accumsan augue at rhoncus fringilla. jhygyviverra tempus nisl sit.
            </p>
          </div>
          <div class="col-sm">
            <img src="{% static 'img/serv3.svg' %}" />
            <h3>Eventos <br>no Geral</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              accumsan augue at rhoncus fringilla. jhygyviverra tempus nisl sit.
            </p>
          </div>
        </div>
      </div>
      
    </div>

    <div class="portfolio" id="portfolio">
      <div class="container">
        <h2>PORTFÓLIO</h2>
        <div class="row port">
          <div class="port1 col-sm-12 col-md-5 col-lg-5">
            <div class="texto">Ponte<br> Newton Navarro</div>
          </div>
          <div class="port2 col-sm-12 col-md-5 col-lg-5">
            <div class="texto">Praia de<br> Ponta Negra</div>
          </div>
          <div class="w-100"></div>
          <div class="port3 col-sm-12 col-md-5 col-lg-5">
            <div class="texto">Cajueiro de<br> Pirangi</div>
          </div>
          <div class="port4 col-sm-12 col-md-5 col-lg-5">
            <div class="texto">Fortaleza dos<br> Reis Magos</div>
          </div>
        </div>
      </div>
      <img class="decora" src="{% static 'img/decora.svg' %}" />
      <img class="decora-port" src="{% static 'img/decora-port.svg' %}">
    </div>

    <div class="clientes-parceiros" id="clientes-parceiros">
      <h2>CLIENTES E PARCEIROS</h2>
      <div class="carr2">
        <div><img src="{% static 'img/cp1.svg' %}"></div>
        <div><img src="{% static 'img/cp2.svg' %}"></div>
        <div><img src="{% static 'img/cp1.svg' %}"></div>
        <div><img src="{% static 'img/cp2.svg' %}"></div>
        <div><img src="{% static 'img/cp1.svg' %}"></div>
        <div><img src="{% static 'img/cp2.svg' %}"></div>
        <div><img src="{% static 'img/cp1.svg' %}"></div>
        <div><img src="{% static 'img/cp2.svg' %}"></div>
        <div><img src="{% static 'img/cp1.svg' %}"></div>
        <div><img src="{% static 'img/cp2.svg' %}"></div>
        
        
        
      </div>
      </div>

      <div class="blog" id="blog">
        <h2>Blog</h2>
        
        <div class="blog-post container">
          <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
              
              <div class="blog1"><img src="{% static 'img/blog1-azul.png' %}" />
                <h3>O QUE NÃO<br> PODE ESQUECER<br> AO VIAJAR</h3>
                <h6>
                  Por Yuri Azevedo
                </h6>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
              
              <div class="blog2"><img src="{% static 'img/blog3-azul.png' %}" />
                <h3>3 DICAS ESSENCIAIS<br> PARA VIAJAR</h3>
                
                <h6>
                  Por Yuri Azevedo
                </h6>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
              
              <div class="blog1"><img src="{% static 'img/blog2-azul.png' %}" />
                <h3>10 PRAIAS PARA CONHECER<br> NO RN</h3>
                <h6>
                  Por Yuri Azevedo
                </h6>
              </div>
            </div>
            <a class="grow" href="{% url 'blog:index' %}">Ver o Blog</a>
      </div>
 
    </div>

    <div class="contatos" id="contatos">
      <div class="container-fluid">
        <div class="row">
          <div class="coluna-contatos col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card-contato">
            <h4>CONTATO</h4>
            
            <div>
              <img class="instagram" src="{% static 'img/instagram.svg' %}">
              <p>@universitur</p>
            </div>
            <div>
              <img class="facebook" src="{% static 'img/facebook.svg' %}">
              <p>/Universitur</p>
            </div>
            <div>
              <img class="local" src="{% static 'img/local.svg' %}">
              <p>NUPEX-UFRN Natal, RN </p>
            </div>
              
            
            
            
            </div>
            <form class="form">
              
    
              
              <input  class="campo-nome" type=" text" placeholder="Nome" name="nome">
    
              
              <input  class="campo-email" placeholder="E-mail" type="email">

              
              <input  class="campo-assunto" placeholder="Assunto" type="email">
    
    
              
              <textarea class="campo-mensagem" placeholder="Mensagem"></textarea>
    
              <input  class="enviar" type="submit" value="ENVIAR">
    
            </form>
          </div>

          <div class=" maps col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d7938.268227910688!2d-35.211228275820986!3d-5.836712533083451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sufrn!5e0!3m2!1spt-BR!2sbr!4v1604202173267!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </div>

      </div>
    </div>
       <div class="pure-g-r content-ribbon" id="contato">
        <div class="pure-u-1">
            <h3>Tire sua dúvida conosco!</h3>
            {% if is_valid %}
            <p>Você enviou o formulário com sucesso</p>
            {% endif %}
            <form class="pure-form pure-form-aligned" method="post" action="#contato">
                {% csrf_token %}
                <fieldset>
                    {% for field in form %}
                    <div class="pure-control-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.erros %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                            <li>Este campo é obrigatório</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Enviar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    {% endblock %}